/*普通按钮样式及状态*/
.edui-default .edui-toolbar .edui-button .edui-icon,
.edui-default .edui-toolbar .edui-menubutton .edui-icon,
.edui-default .edui-toolbar .edui-splitbutton .edui-icon {
    height: 30px !important;
    width: 30px !important;
    /*background-image: url(../images/icons.png);*/
    /*background-image: url(../images/icons.gif) \9;*/
    background-position: center;
    background-repeat: no-repeat;
    font-family: "edui-iconfont";
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.edui-default .edui-toolbar .edui-button .edui-button-wrap {
    padding: 1px;
    position: relative;
    border-radius: 3px;
}

.edui-default .edui-toolbar .edui-button .edui-state-hover .edui-button-wrap {
    background-color: #EEE;
    border: 1px solid #EEE;
    padding: 0;
}

.edui-default .edui-toolbar .edui-button .edui-state-checked .edui-button-wrap {
    background-color: #F0F0EE;
    padding: 0;
    border: 1px solid #EEE;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.edui-default .edui-toolbar .edui-button .edui-state-active .edui-button-wrap {
    background-color: #ffffff;
    padding: 0;
    border: 1px solid gray;
}
.edui-default .edui-toolbar .edui-state-disabled .edui-label {
    color: #ccc;
}
.edui-default .edui-toolbar .edui-state-disabled .edui-icon {
    opacity: 0.3;
    filter: alpha(opacity = 30);
}

.edui-default .edui-toolbar-button-custom{
  display: inline-block !important;
  line-height: 30px;
  vertical-align: middle;
  padding: 0 10px;
  border-radius: 3px;
  margin: 0 5px;
}

.edui-default .edui-toolbar-button-custom:hover{
  background: #EEE;
}
