/*splitbutton*/
.edui-default .edui-toolbar .edui-splitbutton-body .edui-arrow,
.edui-default .edui-toolbar .edui-menubutton-body .edui-arrow {
    height: 30px;
    width: 13px;
    cursor: pointer;
}

.edui-default .edui-toolbar .edui-splitbutton-body .edui-arrow:before,
.edui-default .edui-toolbar .edui-menubutton-body .edui-arrow:before {
    content: "\e9f0";
    font-family: "edui-iconfont";
    font-size: 8px;
    vertical-align: middle;
}

.edui-default .edui-toolbar .edui-splitbutton .edui-splitbutton-body,
.edui-default .edui-toolbar .edui-menubutton .edui-menubutton-body {
    padding: 1px;
    border-radius: 3px;
    display: flex;
}

.edui-default .edui-toolbar .edui-splitborder {
    /*width: 1px;*/
    width: 0px;
    height: 30px;
}

.edui-default .edui-toolbar .edui-state-hover .edui-splitborder {
    /*width: 1px;*/
    border-left: 0px solid #dcac6c;
}

.edui-default .edui-toolbar .edui-state-active .edui-splitborder {
    width: 0;
    /*border-left: 1px solid #EEE;*/
}

.edui-default .edui-toolbar .edui-state-opened .edui-splitborder {
    /*width: 1px;*/
    border: 0;
}

.edui-default .edui-toolbar .edui-splitbutton .edui-state-hover .edui-splitbutton-body,
.edui-default .edui-toolbar .edui-menubutton .edui-state-hover .edui-menubutton-body {
    background-color: #EEE;
    border: 1px solid #EEE;
    padding: 0;
}

.edui-default .edui-toolbar .edui-splitbutton .edui-state-checked .edui-splitbutton-body,
.edui-default .edui-toolbar .edui-menubutton .edui-state-checked .edui-menubutton-body {
    background-color: #ffffff;
    border: 1px solid #EEE;
    padding: 0;
}

.edui-default .edui-toolbar .edui-splitbutton .edui-state-active .edui-splitbutton-body,
.edui-default .edui-toolbar .edui-menubutton .edui-state-active .edui-menubutton-body {
    background-color: #ffffff;
    border: 1px solid #EEE;
    padding: 0;
}

.edui-default .edui-state-disabled .edui-arrow {
    opacity: 0.3;
    _filter: alpha(opacity=30);
}

.edui-default .edui-toolbar .edui-splitbutton .edui-state-opened .edui-splitbutton-body,
.edui-default .edui-toolbar .edui-menubutton .edui-state-opened .edui-menubutton-body {
    background-color: white;
    border: 1px solid #EEE;
    padding: 0;
}

.edui-default .edui-for-insertorderedlist .edui-bordereraser,
.edui-default .edui-for-lineheight .edui-bordereraser,
.edui-default .edui-for-rowspacingtop .edui-bordereraser,
.edui-default .edui-for-rowspacingbottom .edui-bordereraser,
.edui-default .edui-for-insertunorderedlist .edui-bordereraser {
    background-color: white;
}

/* 解决嵌套导致的图标问题 */
.edui-default .edui-for-insertorderedlist .edui-popup-body .edui-icon,
.edui-default .edui-for-lineheight .edui-popup-body .edui-icon,
.edui-default .edui-for-rowspacingtop .edui-popup-body .edui-icon,
.edui-default .edui-for-rowspacingbottom .edui-popup-body .edui-icon,
.edui-default .edui-for-insertunorderedlist .edui-popup-body .edui-icon {
    /*background-position: 0 -40px;*/
    background-image: none;
}
